/* #15a98c */
body
{
    padding: 0;
    margin: 0;
    background-color: #ffff;
}

.first_part
{
    padding-top: 100px;
    width: 960px;
    margin: auto;
    padding-bottom: 127px;
}

a:active, a:focus 
{
    outline: none;
}

input, textarea 
{
    outline:none;
}

input:active, textarea:active 
{
    outline:none;
}

textarea:focus 
{
    outline:none;
}

textarea
{
    resize:none;
}

textarea 
{
    resize:vertical;
}

textarea 
{
    resize:horizontal;
}

.pic
{
    width:330px;
    height:350px;
    border-radius:5px;
    margin-left: -1px;
}

.words
{
    width: 600px;
    float:right;
}

blockquote
{
    color: #848484;
    font: italic 28px/ 42px "Georgia";
}

.quotmark
{
    margin-top:50px;
    padding-left: 50px;
}

.quote
{
    margin:0 auto;
    width: 940px;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

.text_of_qoute
{
    margin-top: -50px;
    padding-left: 73px;
}

.person
{
    font:600 16px/ 42px "Open Sans";
    color: #333;
    margin-top: -26px;
    padding-left: 40px;
}

.main
{
    width: 960px;   
    margin: 0 auto;
    text-align: left;
    padding-top: 6px;
}
 
.simple_list
{
    margin-top:-2px;
}

h1
{
    color: #15a98c;
    font:700 22px/ 32px "open sans";
    margin-top: 19px;
}

li
{
    color: #555555;
    font: 19px/ 36px "georgia";
    margin-left: -18px;
}

.sidebar
{
    padding-top: 15px;
    width: 390px;
    padding-left: 9px;
}

.mults
{
    margin-top:42px;
}

.first_info
{
    width: 560px;
    text-align: left;
}

.sidebar, .first_info
{
    float:left;
    
}

ol, ul
{
    padding-left:40px;
}

h2
{
    text-align: left;
    color: #333;
    font: 700 48px/ 42px "Open sans";
    margin-top: 35px;
}

.rectangle
{
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #15a98c;
    margin-top: -10px;
}

p
{
    color: #555555;
    font: 19px/ 32px "georgia";
}

.born
{
    padding-top: 25px;
}

h3
{
    color: #333;
    font: 400 36px/ 42px "Open sans";
    padding-top: 6px; 
    margin-left: -3px;/*Небольшая подгонка*/
}

.hobby
{
    margin-top: -20px;
}

.hypertome
{
    margin-top: 43px;
}

.writeme
{
    color: #15a98c;
    font: 400 19px/ 32px "Georgia";
    text-decoration: none;
}

.writeme span
{
    text-decoration: underline;
}

.clear
{
    clear: both;
}


